# Core requirements
numpy<2.0
pandas
matplotlib
scikit-learn
transformers[torch]
torch
tqdm

newspaper3k
GoogleNews
requests
beautifulsoup4
lxml[html_clean]

bertopic
sentence-transformers
umap-learn
hdbscan
wordcloud
pyinstaller
torch
certifi